body {
	height: 100%;
	width: 100%;
}

.chart {
	overflow: visible;
}

.chart g {
	height: 100px;
}

.chart circle {
  stroke: black;
}

.chart text {
  fill: black;
  font-family: 'Mansalva', cursive;
  text-anchor: middle;
}

.titleBox {
	font-family: 'Mansalva', cursive;
	margin-left: 2rem;
    border-color: black;
    border-style: groove;
    padding: 0.5rem;
    width: 20rem;
}

.titleBox p {
	padding: unset;
	margin: unset;
}

.title {
	font-size: 2rem;
}